.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.btn{
  padding: 20px 40px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}
.NUMBER{
  margin-right: 20px;
}
.Red{
 color: red;
}
/************************************************************/
.app2{
  height: 35vh;
  background-color: yellow;
}
.app2 input{
  padding: 20px;
  margin-top: 10px;
}
/************************************************************/
.tweetStyle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  background-color: rgb(0, 140, 255);
}
.tweetStyle button{
  padding: 20px 40px;
  border: none;
  background-color: rgb(0, 255, 200);
  color: black;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}
/**********************************************************/
.axis{
  height: 25vh;
  background-color: rgb(255, 0, 21);
}
/**********************************************************/
.compo{
  height: 25vh;
  background-color: rgb(0, 255, 21);
}